body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
/* HEADER */
header {
  background-color: blueviolet;
  padding: 15px;
}
.header {
  display: flex;
  justify-content: space-between;
}
header h1 {
  margin: 0;
  padding: 5px;
  color: white;
}
#showTodoDialog {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  margin: 10px 15px;
  transition: 500ms;
}
#showTodoDialog:hover {
  background-color: white;
  color: blueviolet;
}

.hide {
  display: none;
}

/* PROJECTS */
.project {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  background-color: aliceblue;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
  padding-right: 10px;
}
.project > h2 {
  margin: 5px 0px;
}
.project:hover {
  border: 2px solid black;
}

.content {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(1, 1fr) repeat(1, 2.5fr);
}

.projects {
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 3px 3px 10px rgb(225, 225, 225);
}

.todos {
  padding: 0px 60px;
}
.projects-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(204, 204, 204);
}
#showDialog {
  margin: 20px;
  border: 1px solid green;
  background-color: transparent;
  color: green;
  border-radius: 5px;
}
.highlighted {
  background-color: yellow; /* Example highlight color */
}

/* TODO ITEM */
.todo {
  display: grid;
  grid-template-columns: repeat(1, 30px) repeat(1, 3fr) repeat(1, 1fr);
  background-color: aliceblue;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 5px 1px rgb(225, 225, 225);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-right: 10px;
}
.todo-list {
  padding-left: 0;
  padding-right: 0;
}
.todo-text-content h2 {
  font-size: medium;
}
p {
  margin: 3px;
}
.project-name {
  border-bottom: 1px solid rgb(204, 204, 204);
}
.checkbox {
  display: flex;
  justify-content: space-evenly;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.checkbox input,
.buttons > * {
  align-self: center;
}
.checkbox input {
  margin: auto;
}
.description {
  font-size: large;
}
h2 {
  color: rgb(43, 43, 43);
}
p {
  font-size: small;
  color: rgb(91, 91, 91);
}

/* EDIT AND DELETE BUTTONS */
.delete-btn,
.edit-btn {
  background-color: transparent;
  color: red;
  border: 1px solid red;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  transition: 500ms;
}
.delete-btn:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}
.edit-btn {
  color: orange;
  border: 1px solid orange;
}

.edit-btn:hover {
  background-color: orange;
  color: white;
  cursor: pointer;
}

.green-border {
  border-bottom: 3px solid green;
}
.orange-border {
  border-bottom: 3px solid orange;
}

.red-border {
  border-bottom: 3px solid red;
}
#github-icon {
  color: white;
  font-size: 30px;
}
a {
  margin-left: 10px;
}
